*{
    margin: 0;
    padding: 0;
} 
body{
font-family: Georgia;
}
@font-face{
    font-family: Georgia;
}
header{
    border-top: 5px solid #76c38f;
    background: #290000;
    padding: 10px 0px;
    margin-bottom: -1px;
}

/* 
.cs-home{
    border-radius: 8px;
    padding: 5px;
    margin: 12px 12px;
    color: #ffffff;
    
 } */
 .cs-home{
 }
.cs-home ul{}
.cs-home ul li{
    text-align: left !important;
}
.cs-home ul li a{
    color: white;
    font-size: 13px;
    border-radius: 8px;
    word-spacing: 2px;
    padding: 10px 10px !important;
    margin: 0px 5px;
    color: white !important;
}
.cs-home ul li a:hover{
    background-color: #76c38f;
}
.toggler_color{
    background-color: #76c38f; 

    
}
/* header */

/* banner */
.slider{min-height: 500px;background-color: #290000;margin-bottom: -1px;}
.fluid_padding{
padding: 0 !important;
}
.slider_inner{
min-height: 500px;
}
.inner_items{
min-height: 500px;
width: 90%;
margin: 0 auto;
}
.slider_text h1{color: #ffffff;font-size: 46px;font-family: serif;margin: 0;margin-bottom: 16px;}
.slider_text{
margin: auto;
}
.slider_text p{
color: #979797;
font-size: 12px;
margin: 0;
margin-bottom: 20px;
}
.slider_text button{
border: none;
background-color: transparent;
}
.read_more{text-decoration: none;color: #ffffff;font-size: 13px;background-color: #76c38f;padding: 8px 13px;border-radius: 10px;transition: 0.5s;}
.read_more:hover{background-color: #76c38f;
    text-decoration: none;

        color: white;
}
.slider_pic{
margin: auto;
}
.slider_pic_inner{
height: 424px;
width: 424px;
background-color: #6b6b6b;
margin: 0 auto;
border: 22px solid #6b6b6b;
border-radius: 212px;
margin-right: 0;
}
.slider_pic_inner img{height: 380px;
    width: 380px;
    border-radius: 200px;
}
.custom_prev_icn{
position: absolute;
right: 15px;
background-image: url(../images/prev.png);
height: 25px;
width: 15px;
}
.custom_nxt_icn{
position: absolute;
left: 15px;
background-image: url(../images/next.png);
height: 25px;
width: 15px;
}
/* banner */

/* service */
.service-section{
    background: #660000;
    color: black;
    margin-bottom: -2px;
    margin-top: 0px;
    padding-top: 30px;
}
.service{
    margin: 15px 10px;
    background: #ffffff;
    height: 315px;
    width: 225px;
}
.card-service{
    text-align: center !important;
    padding: 5px 0px;
    color: #979797;
}
.card-service img{
height: 120px;
width: 120px;
margin: 15px 15px;
background: black;
}
.card-service h1{
    font-size: 32px;
    line-height: 0.9;
    padding: 0px;
    color: #333333;
    margin: 3px 10px;
}
.card-service p{font-size: 12px;
        margin: 0px  15px;
    padding: 20px 0;
    }
.card-service:hover{background: #76c38f;color: #ffffff;}
.service:hover img{
background: white;
}
.padding-top{
    margin: -1px 0;
    padding-left: 0px;
}
.work-section{
    background: #660000;
    padding-bottom: 0px;
}
/* service */
.heading{
    position: relative;
    text-align: center;
    margin: 40px 0;
}
.heading::before{
       content: "";
       width: 100%;
       height: 5px;
       position: absolute;
       background: #333;
       left: 0;
       top: 28px;
}
.heading h2{
    position: relative;
    color: #ffffff;
    background: #303030;
    width: 245px;
    text-transform: uppercase;
    padding: 10px 0px;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    font-size: 32px;
}
.work-service{
    position: relative;
    margin: 22px 0px;
}
.overlay{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    height: 200px;
    width: 330px;
    opacity: 0;
    transition: .5s ease;
    border: 5px solid #76c38f;
}
.work-service:hover .overlay {

opacity: 1;
}
.overlay img{
    height: 190px !important;
    width: 320px !important;
}
.card-box{
    border: 5px solid #fff;
    height: 200px;
    width: 330px;
}
.work-service .card-box img{
    position: relative;
    height: 190px;
    width: 320px;
}
.work-service .body-padding{
    position: absolute;
    
    text-align: center;
    top: 70%;
    left: 0px;
    right: 0px;
    background: #353535;
    color: white;
    padding: 1px 0px;
    margin: 15px 0px;
}
.body-padding p{
    margin: 10px 0;
    font-size: 14px;
}
.card-box:hover{

}
.body-padding:hover{}
.col-pad{
}
.work{}
.service-padding{
    align-items: center !important;
}
.work{
    position: relative;
    border: 5px solid #fff;
    padding: 0px 0px;
    width: 300px;
}
.work:hover{
    border-color: #76c38f;
}
.work img{
    height: 190px;
    width: 290px;
}
.work:hover .text{}
.text{
    position: absolute;
    text-align: center;
    background: #353535;
    top: 79%;
    left: 0px;
    right: 0px;
    transition: .5s;
}

.text p{
    color: white;
    margin: 10px 0;
    font-size: 14px;
}
.work .overlay{}
.work .overlay img{}
/* footer */
footer{
    padding: 32px 0px;
    background: #303030;
    margin-top: -1px;
}
.blog-section{}
.blog-section h2{
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 25px;
}
.blog-section h3{
    color: #76c38f;
    font-size: 13px;
}
.blog-section h3 span{}
.blog-section h4 {
    color: #666666;
    font-size: 10px;
}
.blog-section h4 span{
    color: #76c38f;
}
.blog-section p span{color: #979797;}
.blog-section a{
    text-decoration: none;
}
.blog-section a span{
    font-size: 13px;
    color: #76c38f;
}
.blog-section p{
    font-size: 13px;
    color: #979797;
}


.links-section{}
.links-section h2{
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 25px;
}
.links-section ul{padding-left: 0;}
.links-section ul li{
    border-bottom: 1px solid #ffffff45;
    padding-bottom: 14px;
    list-style: none;
}
.links-section ul li span{}
.links-section ul li a{
    text-decoration: none;
    color: #66a27a;
    font-size: 13px;
}
.i-color{
    color: #ffffff94;
}
.tweet-section{}
.tweet-section h2{
    color: #ffffff;
    font-size: 16px;
}
.tweet-section p{
    font-size: 13px;
    color: #979797;
    padding: 25px 0;
}
.tweet-section p span{
    color: #76c38f;
}

.contact-section{}
.contact-section h2{
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 25px;
}
.form-control{
background: #171414;
/* box-shadow: none; */
}
.name{
    /* padding: 8px; */
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 230px;
}
.address{
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 230px;
}
.subject{
    /* padding: 8px; */
    /* margin: 10px 0; */
    box-shadow: none;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 230px;
}
.messege{
    margin: 10px 0;
    border-radius: 10px;
    height: 80px;
    border: none;
    width: 230px;
}
.btn-color{
background: #76c38f;
color: black;
border-radius: 10px;
box-shadow: none;
}
/* footer */

/* copyright */
.copyright-section{
    background: #2b2b2b;
    border-top: 1px solid #000000ad;
    padding-bottom: 5px;
    padding-top: 20px;
}
.copyright{/* padding: 25px 0px; */}
.copyright p{
    color: #979797;
    font-size: 13px;
}
.template{
    /* padding: 25px 0px; */
    margin: 0px 20px;
}
.template p{
    color: #979797;
    font-size: 13px;
}